<h1>Bienvenidos al Blog</h1>
<%= link_to "Enlace que va para el Post", "/welcome/index", method: :get %>

<% [0,1,2,3,4,5,6,7,8,9].each do |numbers|  %>
  <p>Los números son: <%= numbers %> </p>
<% end %>