html, body{
  margin: 0px;
  font-family: 'Merienda One', cursive;
}
a,a:visited{
  color: inherit;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
#logo{
  font-size: 1.2em;
}
.no-margin{
  margin: 0px;
}
.be-red{
  background: #E74C3C;
}
.white{
  color: #ECF0F1;
  font-size: 1.1em;
}
.large-padding{
  padding: 8px 5px;
}